body {
  background: url("../../img/background.jpg") no-repeat;
}

.container {
  border: solid rgb(255, 208, 0) 1px;
  margin-top: 100px;
}

.card-img-top {
  max-height: 300px;
  max-width: 500px;
}

.nav-link {
  color: rgb(255, 208, 0);
}

.nav-link:hover {
  color: rgb(214, 175, 0);
}

.btn {
  background-color: rgb(255, 208, 0);
  border: none;
}

.btn:hover {
  background-color: rgb(214, 175, 0);
}
